* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.content_background {
    background-color: #445161;
}
.product {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 25px;
}

.product__title {
    margin-bottom: 40px;
    color: #FFFFFF;
    line-height: 69px;
    font-size: 60px;
}

.product__item {
    list-style: none;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.about {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    padding-top: 45px;
}

.about__title {
    margin-bottom: 17px;
    color: #445161;
    font-size: 30px;
    line-height: 36px;
}

.about__text {
    max-width: 646px;
    color: #333333;
    line-height: 24px;
    font-size: 16px;
}

.second-text {
    padding-top: 11px;
}

.about__img {
    margin-bottom: 50px;
    margin-left: 96px;
}

.dignity {
    max-width: 1172px;
    margin: 0 auto;
    padding-top: 25px;
}

.dignity__background {
    background-color: #f5f5f5;
}

.dignity__title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    text-align: center;
    margin-bottom: 29px;
}

.dignity__list {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity__item {
    list-style: none;
    width: 45%;
    padding-bottom: 33px;
}

.screenshots {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.screenshots__title {
    text-align: center;
    color: #445161;
    font-size: 30px;
    line-height: 36px;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 1172px;
}

.screenshots__article {
    width: 49%;
    padding-bottom: 27px;
    
}

.screenshots__flexbox {
    display: flex;
}

.screenshots__column {
    flex-direction: column;
}

.screenshots__img {
    margin-right: 14px;
}

.screenshots__title-article {
    margin-bottom: 13px;
}

.reviews {
    background-color: #F5F5F5;
    padding: 5px calc(50% - 1172px / 2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews__title {
    text-align: center;
    color: #445161;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 29px;
    width: 1172px;
    margin-top: 25px;
}

.reviews__user {
    width: 48%;
    display: flex;
}

.reviews__user-sign {
    flex-direction: column;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    margin-bottom: 22px;
    padding-top: 16px;
    padding-left: 15px;
    border-radius: 5px;
}

.reviews__text {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.reviews__sign {
    font-family: 'Roboto', sans-serif;
    color: #989898;
    font-size: 14px;
    line-height: 18px;
}
.reviews__img {
    padding-bottom: 50px;
    margin-right: 15px;
}

.buy {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.buy__title {
    margin-top: 45px;
    width: 1172px;
    margin-bottom: 26px;
    text-align: center;
    color: #445161;
    font-size: 30px;
    line-height: 36px;
}

.buy__standart {
    background-color: #445161;
    border: 1px solid #445161;
    border-radius: 5px;
    height: 306px;
    align-self: flex-end;
}

.buy__lux {
    background-color: #445161;
    border-radius: 5px;
    border: 1px solid #445161;
    padding-bottom: 19px;
    height: 499px;
    align-self: flex-end;
}

.buy__premium {
    background-color: #445161;
    border-radius: 5px;
    border: 1px solid #445161;
    height: 404px;
    align-self: flex-end;
}
.buy__standart-h2 {
    text-align: center;
    margin-top: 13px;
    margin-bottom: 8px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 30px;
}

.buy__standart-price {
    background-color: #fff;
    text-align: center;
    padding-top: 25px;
    color: #445162;
    font-size: 40px;
    line-height: 30px;
    padding-bottom: 16px;
}

.buy__standart-list {
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 40px;
    padding-right: 8px;
}

.buy__standart-item {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
}

.buy__button {
    text-align: center;
    width: 262px;
    padding-top: 16px;
    padding-bottom: 9px;
    margin: 0 19px;
    border-radius: 5px;
    border: 0px;
    color: #445161;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.contacts {
    background-color: #445162;
    padding: 5px calc(50% - 1172px /2);
}

.contacts__title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 43px;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 36px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    width: 503px;
}

.contacts__name {
    height: 43px;
    border-radius: 5px;
    margin-bottom: 18px;
}

.contacts__email {
    height: 43px;
    border-radius: 5px;
    margin-bottom: 19px;
}

.contacts__message {
    height: 173px;
    border-radius: 5px;
    margin-bottom: 18px;
}

.contacts__flexbox {
    display: flex;
    justify-content: center;
}

.contacts__button {
    margin-bottom: 48px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 7px;
    width: 143px;
    font-weight: bold;
    color: #445162;
    font-size: 16px;
    line-height: 24px;
    margin-left: 180px;
    border-radius: 5px;
}

.socials {
    margin-left: 45px;
}

.socials__info {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.footer {
    background-color: #f5f5f5;
    text-align: center;
    color: #445162;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-size: 12px;
    padding: 12px 0;
}